.track {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1rem;

  .step {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: transparent;
    color: #646cff;
    border: 1px solid #646cff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    transition: transform 0.1s ease-in-out;

    &.active {
      background-color: #646cff;
      color: #ffffff;
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  .light {
    width: 2rem;
    height: 2rem;

    .light__inner {
      width: 0.75rem;
      height: 0.75rem;
      border-radius: 50%;
      background-color: #ffffff97;

      &.active {
        background-color: #787ffc;
        box-shadow: 0 0 10px #9398f9;
      }
    }
  }
}
